# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
develop-eggs/
*.egg-info
.installed.cfg
*.egg

# Virtual environment
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Environment variables
.env
.env.local

# pytest
.pytest_cache/
.coverage

# Logs
*.log


# file
uploaded_files/
chroma_db/